<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">{{ title }}</h2>
  </div>
  <div class="panel-body">

    <div>
      <p>
        <button class="btn btn-default" (click)="rePolyline()">Change location</button>
      </p>
    </div>

    <ngui-map [zoom]="zoom" [center]="'37.7749295, -122.4194155'" (click)="mapEvent($event)">
      <marker
          *ngFor="let marker of markers; let i = index"
          #mk
          [attr.data-index]="i"
          [position]="marker.position"
          [icon]="marker.icon"
          [draggable]="marker.draggable"
          (click)="markerClick($event, mk)"
      >
      </marker>

      <div *ngFor="let marker of markers; let i = index">
        <info-window *ngIf="marker.infoBox" id="marker-{{ i }}">
          {{ marker.infoBox.text }}
        </info-window>
      </div>

      <map-polygon *ngFor="let polygon of polygons"
        [editable]="polygon.editable"
        [paths]="polygon.paths"
        [strokeColor]="polygon.strokeColor"
        [strokeOpacity]="polygon.strokeOpacity"
        [strokeWeight]="polygon.strokeWeight"
        [fillColor]="polygon.fillColor"
        [fillOpacity]="polygon.fillOpacity">
      </map-polygon>

      <polyline *ngFor="let polyline of polylines"
        [editable]="polyline.editable"
        [path]="polyline.paths"
        [geodesic]="polyline.geodesic"
        [strokeColor]="polyline.strokeColor"
        [strokeOpacity]="polyline.strokeOpacity"
        [strokeWeight]="polyline.strokeWeight"
      >
      </polyline>

    </ngui-map>

  </div>
</div>